# Excluir ambiente virtual Python
venv/
.venv/

# Excluir arquivos de cache
__pycache__/
*.pyc

# Excluir dados brutos grandes
DADOS/
TS_ALUNO_5EF.csv
TS_ALUNO_9EF.csv
TS_ITEM.csv

# Excluir arquivos gerados
resultados_finais_5EF.csv
resultados_finais_9EF.csv
diagnostico_habilidades_5EF.csv
diagnostico_habilidades_9EF.csv

git add -f data/*.gz